body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    
}

/* main-content-section */

.main-content-section {
    padding: 100px 90px;
    }

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.about-me {
    margin-bottom: 40px;       
}

.about-me-profession {
    font-size: 14px;
    font-weight: ;
    color: #000;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 20px;
    }

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
}

.about-me-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
    width: 400px;
}

/* my-projects-section */

.my-projects-list {
    padding: 0 0 0 17px;
}
.my-projects-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    }

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.my-projects {
    margin-bottom: 50px;
    
}
/* .my-work-experience */
.orange {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.orange1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
    margin-left: 5px;
}
.minigray {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
  }
.speciality {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.devider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0 10px;
}
.dutis {
    padding: 0 0 0 17px;
    Width:509px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    }

/* sidebar-section */
.sidebar-section {
    background-color:#1E2939 ;
    width: 370px;
    padding: 40px 0;
}
.contacts-section, .Tech-Skills-section {
    margin: 50px 0 0 40px;

}
 
.Soft-Skills-section {
    margin: 50px 0 0 40px

}
.sidebar-title {

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
/* contacts-section */
.contacts-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;

}

.contacts-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #565E6A;  
}
/* Skills-list */
.Skills-list {
    padding: 0 0 0 17px;
}

.Skills-list-item {
    color: #FB6D3A;
}

.Skills-list-text {
    color: #FFFFFF; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.form-wrap {
   display: flex; 
   margin: 50px 0 0 40px;
}

.form-wrap form {
color: #FFFFFF;
}

.form-wrap label {
    display: block;
}

.form-wrap textarea {
   width: 100%; 
}